{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js" defer init></script>
    <link href={% static 'css/bootstrap.rtl.min.css' %} rel="stylesheet">
    <script src={% static 'js/bootstrap.bundle.min.js' %}></script>
</head>
<body>
    {% include "cabecera.html" %}
    <div class="flex flex-col md:flex-row bg-background p-6 rounded-lg shadow-lg">
        <div class="md:w-1/2">
            <img class="w-full h-auto rounded-lg" src="{% static product.image %}" alt="Imagen del producto" />
        </div>
        <div class="md:w-1/2 md:pl-6">
            <h1 class="text-2xl font-bold text-foreground">{{ product.name }}</h1>
            <div class="flex items-center mt-2">
                <span class="text-lg  text-white">€{{ product.price }}</span>
            </div>

            <div class="mt-6">
                <a href={{product.field_name}} class="bg-primary text-primary-foreground hover:bg-primary/80 px-4 py-2 rounded" style="color: #ffff">GO TO STORE</a>
            </div>
            <div class="mt-4 text-2x1 text-white">
                <p style="font-size: 2.5em;">SKU: N/A</p>
                <p style="font-size: 2.5em;">Category: {{ product.category }}</p>
                <p style="font-size: 2.5em;">Brand: {{ product.brand }}</p>
            </div>
        </div>
    </div>

    <div class="bg-background dark:bg-foreground text-primary dark:text-primary-foreground p-4 rounded-lg shadow-lg">
        <h2 class="text-lg font-semibold mb-4">Comments</h2>
            <div id= "comments">
                {% for comment in comments %}
                    <div class="flex items-center space-x-4 mb-4">             
                        <h3 class="font-semibold">{{ comment.user.username }}</h3>
                        <p class="text-sm text-muted">{{ comment.created_at|date:"d M Y, H:i" }}</p>
                        <p class="text-sm">{{ comment.review }}</p>
                    </div>
                {% empty %}
                    <p>No hay comentarios aún. ¡Sé el primero en comentar!</p>
                {% endfor %}
                </div>
    
        <div class="mt-6" id="comment-form">
            <h3 class="text-lg font-semibold text-foreground text-white">Add a Review</h3>
                <form method="POST">
                    {% csrf_token %}
                    <textarea name="review" class="bg-background text-foreground border border-secondary rounded-lg p-4 w-full" placeholder="Write your review..." rows="4">{{ form.review.value }}</textarea>
                    <button type="submit" class="mt-2 bg-primary text-primary-foreground p-2 rounded-lg hover:bg-primary/80" style="color: #ffff">Submit</button>
                </form>
        </div>
</body>
</html>